<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://alexasimplecalcskill.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>alexasimplecalcskill.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AlexaSimpleCalcSkill</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AlexaSimpleCalcSkill</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AlexaSimpleCalcSkill.Models.ApplicationDbContext, AlexaSimpleCalcSkill" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SimpleCalcSkillEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=alexasimplecalcskill.database.windows.net;Initial Catalog=SimpleCalcSkill;Persist Security Info=True;User ID=sduitsman;Password=Duits0001;Application Name=EntityFramework" Name="Data Source=alexasimplecalcskill.database.windows.net;Initial Catalog=SimpleCalcSkill;Persist Security Info=True;User ID=sduitsman;Password=Duits0001;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AlexaSimpleCalcSkill.Data.SimpleCalcSkillEntities, AlexaSimpleCalcSkill.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SimpleCalcSkillEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SimpleCalcSkillDataModel.csdl|res://*/SimpleCalcSkillDataModel.ssdl|res://*/SimpleCalcSkillDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=alexasimplecalcskill.database.windows.net;Initial Catalog=SimpleCalcSkill;Persist Security Info=True;User ID=sduitsman;Password=Duits0001;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>